:root {
    /* color-pallette */
     --primary: #0018B3;
    /* Steel blue */
     --secondary: #009DFF;
    /* light blue */
     --gray: #A4AEB4;
    /* gray */
     --white: #FEFCFB;
    /* white*/
	 --black: #000000;
	 /* black */
}

 * {
	   font-family: "Mozilla Text", sans-serif;
  font-weight: 400;
  font-style: normal;
     box-sizing: border-box;
}

 body, html{
     width:100vw;
     height:100vh;
     margin:0px;
     padding:0px;
     display: flex;
	flex-flow: column nowrap;
	overflow: scroll;
     background-color: var(--white);
}

.main-content {
	width: 100vw;
	height: auto;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: column nowrap;

	align-items: center;
}
footer {
	margin-top : 1rem;
	padding :1rem;
	width:100%;
	text-align: center;
	color: var(--white);
	background: var(--black);
}
