.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(4px);
    color: var(--primary);
}

.modal.active {
    display: flex;
}

.modal-content {
    width: min(900px, 90vw);
    max-height: 90vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: white;
     border: 2px solid var(--black);
  border-radius: 12px;
  box-shadow: 0 4px 12px  var(--grey);;
	transition:
		transform 0.3s ease,
		box-shadow 0.3s ease;

    box-shadow:
        0 10px 30px rgba(0,0,0,.15),
        0 20px 60px rgba(0,0,0,.1);
}

.modal-footer {
background: var(--gray);
}

.animate-top {
    animation: modalSlideIn .4s ease-out;
}

@keyframes modalSlideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-main {
    position: relative;
}

.modal-body {
    overflow-y: auto;
}

.modal-footer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.modal-controls {
width: 100%;
display: flex;
    justify-content: space-between;
    align-items: center;
    }
