/* From Uiverse.io by SujitAdroja */ 
.swipe-btn {
  color: var(--primary);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--primary);
  border-radius: 8px;
  box-shadow: 4px 8px 24px  var(--grey);;
  padding: 10px 20px;
  font-size: 17px;
  margin-left: .5rem;
  margin-right: .5rem;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.swipe-btn:hover {
  color: var(--white);
}

.swipe-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  color: var(--white);
  background-color: var(--tetiary);
  z-index: -1;
  transition: all 1s;
}

.swipe-btn:hover::before {
  width: 160%;
}

