/* From Uiverse.io by SujitAdroja */ 
.swipe-btn {
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--black);
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.swipe-btn:hover {
  color: var(--white);
}

.swipe-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: red;
  z-index: -1;
  transition: all 1s;
}

.swipe-btn:hover::before {
  width: 160%;
}

